header{
    background-color:yellowgreen;
    border-radius: 25px;
    width: 1465px;
   height: 200px;
}

.searchbar {
    display: flex;
    position: relative;

   
}

 input {
    background-color:beige;
    margin-left: 1210px; /* Ajusta el margen derecho según tus preferencias */
   margin-top:10px;
   width: 150px;
   height: 20px;
}
.estrenosboton{
    color: white;
    background: none;
    margin-top: 60px;
   margin-left: 250px;
   height: 25px;
   width: 10%;
}






















.titulo1{
    color: aliceblue;
    text-align: center;
}
.subtex1{
    color: aliceblue;
margin-top:213px;
}

.subtex2{
    color: red;
    margin-bottom: 100px;
    margin-left: 150px;
}

.movie1{

}
.movie2{   
margin-left: 70px;
}
.movie3{
    margin-left: 80px;   
}
 .pelicula1{
    width: 185px;
   height: 270px; 
}
 .pelicula2{
    margin-top: 15px;
    margin-left: 15px;
    width: 185px;
   height: 270px; 
}
.pelicula3{
    margin-left: 15px;
    width: 185px;
   height: 270px; 
   
}
.pelicula4{
    margin-left: 15px;
    width: 185px;
   height: 270px; 
   
}
.moviespart{
    text-align: center;
}
.seriespart{
    text-align: center;
}
.serie1{
    width: 185px;
    height: 270px;
}
.serie2{
    margin-top: 15px;
    margin-left: 15px;
    width: 185px;
    height: 270px;  
}
.serie3{
    margin-left: 15px;
    width: 185px;
    height: 270px;
}
.serie4{
    margin-left: 15px;
    width: 185px;
    height: 270px;  
}
.tvserie1{

}

.tvserie2{
    margin-left: 150px;
}
.tvserie3{
    margin-left: 160px;
}
.tvserie4{
    margin-left: 160px;
}


